/* Define the font-face */
@font-face {
  font-family: 'Droog';
  src: url('fonts/Droog-Heavy.woff') format('woff');
}

/* Apply styles to the body */
body {
  background-color: black; /* Set background color to black */
  font-family: 'Droog', sans-serif; /* Use 'Droog' font with fallback */
  color: #9c4306; /* Set text color to #cb5808 (orange) */
}

/* Optionally, you can set specific text elements with a different color */
h1 {
  background-color: black; /* Set background color to black */
  font-family: 'Droog', sans-serif; /* Use 'Droog' font with fallback */
  color: #9c4306; /* Set color to the desired orange for headings and text */
}
